.tag0{
    background-color:#ff5656 !important;
    color:#fff !important;
}
.tag1{
    background-color:#23b7e5 !important;
    color:#fff !important;
}
.tag2{
    background-color:#e0d3d3 !important;
    color:#5474a0
}
.tag3{
    background-color:#0275d8 !important;
    color:#fff !important;
}
.tag4{
    background-color:#5cb85c !important;
    color:#fff !important;
}
.tag5{
    background-color:#5bc0de !important;
    color:#fff !important;
}
.tag6{
    background-color:#f0ad4e !important;
    color:#fff !important;
}
.tag7{
    background-color:#d9534f !important;
    color:#fff !important;
}
.tag8{
    background-color:#d8d7b5 !important;
    color:#fff !important;
}
